body {
  background-color: #000;
  color: white;
}

.centered {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  99;
}

@keyframes pulse {
  0% {
    width: 150px;
    height: 150px;
    border: 5px solid green;
  }
  50% {
	width: 850px;
	height: 850px; 
    border: 5px solid blue;
  }
  100% {
    width: 150px;
    height: 150px;
    border: 5px solid green;
  }
}

@keyframes fadeout {
  0% {
    color: white;
  }
  100% {
    color: #333;
  }
}
@keyframes glow {
  0% {
    color: white;
  }
  100% {
    color: #ffc;
  }
}

.pulsing {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: pulse;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: pulse;
    -ms-animation-duration: 15s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
	animation-name: pulse; 
	animation-duration: 15s;
	animation-iteration-count: infinite; 
	animation-timing-function: ease-in-out;
}

.fadeout {
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeout;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: fadeout;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    -ms-animation-fill-mode: forwards;
	animation-name: fadeout; 
	animation-duration: 3s;
	animation-iteration-count: 1; 
	animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.glow {
    -webkit-animation-name: glow;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: glow;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: glow;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    -ms-animation-fill-mode: forwards;
	animation-name: glow; 
	animation-duration: 3s;
	animation-iteration-count: 1; 
	animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#idle {
  border-radius: 50%;
  margin: auto;
}

#focus {
  display: none;
  margin: auto;
  height: 850px;
  width: 30px;
}

#letters {
  display: none;
  margin: auto;
  height: 850px;
  width: 30px;
}

.column {
  position: fixed;
  overflow: hidden;
  height: 850px;
  max-height: 850px;
  width: 30px;
  margin: auto;
}

.innerLetters {
  top: 0;
  height: 350px;
  max-height: 350px;
  padding-top: 350px;
  overflow: hidden;
}

.focusColumn {
  position: fixed;
  overflow: hidden;
  height: 850px;
  max-height: 850px;
  width: 30px;
  margin: auto;
}

.focusInnerLetters {
  padding-top: 350px;
  height: 425px;
  max-height: 425px;
  overflow: hidden;
}

#focusCol1 {transform: rotate(-120deg)}
#focusCol2 {transform: rotate(-110deg)}
#focusCol3 {transform: rotate(-100deg)}
#focusCol4 {transform: rotate(-90deg)}
#focusCol5 {transform: rotate(-80deg)}
#focusCol6 {transform: rotate(-70deg)}
#focusCol7 {transform: rotate(-60deg)}
#focusCol8 {transform: rotate(-50deg)}
#focusCol9 {transform: rotate(-40deg)}
#focusCol10 {transform: rotate(-30deg)}
#focusCol11 {transform: rotate(-20deg)}
#focusCol12 {transform: rotate(-10deg)}
#focusCol13 {transform: rotate(0deg)}
#focusCol14 {transform: rotate(10deg)}
#focusCol15 {transform: rotate(20deg)}
#focusCol16 {transform: rotate(30deg)}
#focusCol17 {transform: rotate(40deg)}
#focusCol18 {transform: rotate(50deg)}
#focusCol19 {transform: rotate(60deg)}
#focusCol20 {transform: rotate(70deg)}
#focusCol21 {transform: rotate(80deg)}
#focusCol22 {transform: rotate(90deg)}
#focusCol23 {transform: rotate(100deg)}
#focusCol24 {transform: rotate(110deg)}
#focusCol25 {transform: rotate(120deg)}

#col1 {transform: rotate(0deg);   margin-top:1px;}
#col2 {transform: rotate(12deg);  margin-top:2px;}
#col3 {transform: rotate(24deg);  margin-top:3px;}
#col4 {transform: rotate(36deg);  margin-top:4px;}
#col5 {transform: rotate(48deg);  margin-top:5px;}
#col6 {transform: rotate(60deg);  margin-top:6px;}
#col7 {transform: rotate(72deg);  margin-top:7px;}
#col8 {transform: rotate(84deg); margin-top:8px;}
#col9 {transform: rotate(96deg); margin-top:9px;}
#col10 {transform: rotate(108deg);margin-top:10px;}
#col11 {transform: rotate(120deg);margin-top:11px;}
#col12 {transform: rotate(132deg);margin-top:12px;}
#col13 {transform: rotate(144deg);margin-top:13px;}
#col14 {transform: rotate(156deg);margin-top:14px;}
#col15 {transform: rotate(168deg);margin-top:15px;}
#col16 {transform: rotate(180deg);margin-top:16px;}
#col17 {transform: rotate(192deg);margin-top:16px;}
#col18 {transform: rotate(204deg);margin-top:17px;}
#col19 {transform: rotate(216deg);margin-top:18px;}
#col20 {transform: rotate(228deg);margin-top:19px;}
#col21 {transform: rotate(240deg);margin-top:20px;}
#col22 {transform: rotate(252deg);margin-top:21px;}
#col23 {transform: rotate(264deg);margin-top:22px;}
#col24 {transform: rotate(276deg);margin-top:23px;}
#col25 {transform: rotate(288deg);margin-top:24px;}
#col26 {transform: rotate(300deg);margin-top:25px;}
#col27 {transform: rotate(312deg);margin-top:26px;}
#col28 {transform: rotate(324deg);margin-top:27px;}
#col29 {transform: rotate(336deg);margin-top:28px;}
#col30 {transform: rotate(348deg);margin-top:28px;}
